<!DOCTYPE html>
<html lang="de">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <title>dev.ORF.at</title>

      <link rel="stylesheet" href="./assets/build.css?v=<%= version %>">
   </head>
   <body class="ss" id="top">

      <img src="./assets/images/testbild.png" alt="Testbild" title="">

      <script src="./assets/templates.js?v=<%= version %>"></script>
      <script src="./assets/build.js?v=<%= version %>"></script>

   </body>
</html>